<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>메인</title>

    <!-- Custom fonts for this template-->
    <link href="/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Custom styles for this template-->
    <link th:href="@{/css/sb-admin-2.min.css}" rel="stylesheet"/>
    <link rel="stylesheet"  href="/css/lightbox.css">
	<style>
		.fileDrop {
    		width: 100%;
    		height: 200px;
    		border: 2px dotted #0b58a2;
		}
	</style>

</head>
<body>
	<div id="wrapper" >		
	
	    <div th:replace="fragments/header::header"></div>
	    
	    <div id="content-wrapper" class="d-flex flex-column">
			
			<div id="content">
			
				<div th:replace="fragments/navbar::nav"></div>
				
		    	<th:block layout:fragment="content" class="content"></th:block>
			
			</div>
			
		    <div th:replace="fragments/footer::footer"></div>
	    </div>
    </div>
    
    <div th:replace="fragments/modal::modal"></div>
    
        <!-- Bootstrap core JavaScript-->
    <script src="/vendor/jquery/jquery.min.js"></script>
    <script src="/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="/js/sb-admin-2.min.js"></script>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>
    
    <script id="fileTemplate"  type="text/x-handlebars-template">
    <li data-src="{{fullName}}">
        <span class="mailbox-attachment-icon has-img">
            <img src="{{imgSrc}}" alt="Attachment">
        </span>
        <div class="mailbox-attachment-info">
            <a href="{{originalFileUrl}}" class="mailbox-attachment-name">
                <i class="fa fa-paperclip">{{originalFileName}}</i> 
            </a>
            <a href="{{fullName}}" class="btn btn-default btn-xs pull-right delBtn">
                <i class="fa fa-fw fa-remove"><img src="/img/close.png"></i>
            </a>
        </div>
    </li>
	</script>
	<script type="text/javascript" src="/js/upload.js"></script>
	<script src="/js/lightbox.js"></script>

</body>
</html>